@model AdministradorNivel.Models.LEVEL4

@{
    ViewBag.Title = "Delete";
}
<h4>NIVEL4</h4>
<h2>ELIMINAR</h2>
<div class="row" style="height:50px;"></div>

<h3>¿Desea Eliminar este archivo?</h3>
<div class="row" style="height:50px;"></div>
<div>
    <dl class="dl-horizontal">
        <dt>
            NOMBRE_NIVEL4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LEVEL4)
        </dd>

        <dt>
            VINCULO_POWERBI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VINCULOPOWERBI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAG)
        </dd>

        <dt>
            NOMBRE_NIVEL3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL3.NAME_LEVEL3)
        </dd>

    </dl>
    <div class="row" style="height:50px;"></div>
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Eliminar" class="btn btn-outline-danger" /> |
            @Html.ActionLink("<<Atras", "Index", null, new { @class = "btn btn-outline-primary" })
        </div>
    }
</div>
