@model AdministradorNivel.Models.LEVEL4

@{
    ViewBag.Title = "Details";
}

<div class="w-100 text-center">
    <div class="text-center">
        <h6 style="color: #15468e; font-family:Arial, Helvetica, sans-serif">NIVEL4</h6>
    </div>
    <h4 class="lineasTitulo text-center" style="font-family:Arial, Helvetica, sans-serif">DETALLES</h4>
</div>
<div class="row" style="height:50px;"></div>
<div class="text-center">
    
    <dl class="dl-horizontal">
        <dt>
            NOMBRE_NIVEL4
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LEVEL4)
        </dd>

        <dt>
           VINCULO_POWERBI
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VINCULOPOWERBI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAG)
        </dd>

        <dt>
            NOMBRE_NIVEL3
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL3.NAME_LEVEL3)
        </dd>

    </dl>
</div>
<div class="row" style="height:50px;"></div>
<p class="text-center">
    @Html.ActionLink("Editar", "Edit", new { id = Model.ID_LEVEL4 } , new { @class = "btn btn-outline-success" }) |
    @Html.ActionLink("<<Atras", "Index", null, new { @class = "btn btn-outline-primary" })
</p>
