@model IEnumerable<AdministradorNivel.Models.LEVEL4>

@{
    ViewBag.Title = "Index";
}
<div class="w-100 text-center">
    <h4 class="lineasTitulo text-center" style="color: #15468e; font-family:Arial, Helvetica, sans-serif; font-weight:700;">NIVEL4</h4>
</div>
<div class="row" style="height:50px;"></div>

<p>
    @Html.ActionLink("✚ Crear Nuevo", "Create", "LEVEL4", new { @class = "btn btn-outline-success" })
</p>
<table class="table table-striped">
    <tr style="background-color:#206A7B; color: white;">
        <th>
            NOMBRE_NIVEL4
        </th>
        <th>
            VINCULO_POWERBI
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TAG)
        </th>
        <th>
           NOMBRE_NIVEL3
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-transform:lowercase;">
            @Html.DisplayFor(modelItem => item.NAME_LEVEL4)
        </td>
        <td style="text-transform:lowercase;">
            @Html.DisplayFor(modelItem => item.VINCULOPOWERBI)
        </td>
        <td style="text-transform:lowercase;">
            @Html.DisplayFor(modelItem => item.TAG)
        </td>
        <td style="text-transform:lowercase;">
            @Html.DisplayFor(modelItem => item.LEVEL3.NAME_LEVEL3)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_LEVEL4 }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_LEVEL4 }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_LEVEL4 })
        </td>
    </tr>
}

</table>
