@model IEnumerable<AdministradorNivel.Models.LEVEL3>

@{
    ViewBag.Title = "Index";
}
<div class="w-100 text-center">
    <h4 class="lineasTitulo text-center" style="color: #15468e; font-family:Arial, Helvetica, sans-serif; font-weight:700;">NIVEL3</h4>
</div>


<div class="row" style="height:50px;"></div>

<p>
    @Html.ActionLink("✚ Crear Nuevo", "Create", "LEVEL3", new { @class = "btn btn-outline-success"})
</p>
<table class="table table-striped">
    <tr style="background-color:#206A7B; color: white;">
        <th>
            NOMBRE_NIVEL3
        </th>
        <th>
            NOMBRE_NIVEL2
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td style="text-transform:lowercase;">
            @Html.DisplayFor(modelItem => item.NAME_LEVEL3)
        </td>
        <td style="text-transform:lowercase;">
            @Html.DisplayFor(modelItem => item.LEVEL2.NAME_LEVEL2)
        </td>
        <td>
            @Html.ActionLink("Editar", "Edit", new { id=item.ID_LEVEL3 }) |
            @Html.ActionLink("Detalles", "Details", new { id=item.ID_LEVEL3 }) |
            @Html.ActionLink("Eliminar", "Delete", new { id=item.ID_LEVEL3 })
        </td>
    </tr>
}

</table>
