@model Nivel4.Models.LEVEL4

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>LEVEL4</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.NAME_LEVEL4)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NAME_LEVEL4)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.VINCULOPOWERBI)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.VINCULOPOWERBI)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TAG)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TAG)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.LEVEL3.NAME_LEVEL3)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.LEVEL3.NAME_LEVEL3)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.ID_LEVEL4 }) |
    @Html.ActionLink("Back to List", "Index")
</p>
