@model Nivel4.Models.LEVEL4

@{
    ViewBag.Title = "Editar";
}

<h2>Editar</h2>


@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()
    
    <div class="form-horizontal">
        <h4>NIVEL4</h4>
        <hr />
        @Html.ValidationSummary(true, "", new { @class = "text-danger" })
        @Html.HiddenFor(model => model.ID_LEVEL4)

    <div class="form-group">
        <div class="control-label col-md-2">
            <h6>NOMBRE_NIVEL3</h6>
        </div>
        <div class="col-md-10">
            @Html.DropDownList("ID_LEVEL3", null, htmlAttributes: new { @class = "form-control" })
            @Html.ValidationMessageFor(model => model.ID_LEVEL3, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <h6>NOMBRE_NIVEL4</h6>
        </div>
        <div class="col-md-10">
            @Html.EditorFor(model => model.NAME_LEVEL4, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.NAME_LEVEL4, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        <div class="control-label col-md-2">
            <h6>VINCULO_POWERBI</h6>
        </div>
        
        <div class="col-md-10">
            @Html.EditorFor(model => model.VINCULOPOWERBI, new { htmlAttributes = new { @class = "form-control" } })
            @Html.ValidationMessageFor(model => model.VINCULOPOWERBI, "", new { @class = "text-danger" })
        </div>
    </div>

        <div class="form-group" style="display:none">
            @Html.LabelFor(model => model.TAG, htmlAttributes: new { @class = "control-label col-md-2" })
            <div class="col-md-10">
                @Html.EditorFor(model => model.TAG, new { htmlAttributes = new { @class = "form-control" } })
                @Html.ValidationMessageFor(model => model.TAG, "", new { @class = "text-danger" })
            </div>
        </div>

        <div class="form-group">
            <div class="col-md-offset-2 col-md-10">
                <input type="submit" value="Guardar" class="btn btn-default" />
            </div>
        </div>
    </div>
}

<div>
    @Html.ActionLink("<<Atras", "Index")
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}
